<html>
    <head>
        <title>To-Do lists</title>
    </head>
    <body>
        <h1>Your To-Do list</h1>
        <form method="POST">
            <input id="id_new_item" name="item_text" placeholder="Enter a to-do item">
            {% csrf_token %}
        </form>

        <table id="id_list_table">
            <tr>
                <td>1: {{ new_item_text }}</td>
            </tr>
        </table>
    </body>
</html>